In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf

In [ ]:
from datetime import date
import numpy as np

In [ ]:
START = "2015-01-01"
CURRENT = date.today().strftime("%Y-%m-%d")

In [ ]:
data1 = yf.download('AAPL',START,CURRENT)
data1.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data1

           Date        Open        High  ...       Close   Adj Close     Volume
0    2015-01-02   27.847500   27.860001  ...   27.332500   24.745996  212818400
1    2015-01-05   27.072500   27.162500  ...   26.562500   24.048857  257142000
2    2015-01-06   26.635000   26.857500  ...   26.565001   24.051126  263188400
3    2015-01-07   26.799999   27.049999  ...   26.937500   24.388380  160423600
4    2015-01-08   27.307501   28.037500  ...   27.972500   25.325434  237458000
...         ...         ...         ...  ...         ...         ...        ...
1765 2022-01-05  179.610001  180.169998  ...  174.919998  174.919998   94537600
1766 2022-01-06  172.699997  175.300003  ...  172.000000  172.000000   96904000
1767 2022-01-07  172.889999  174.139999  ...  172.169998  172.169998   86580100
1768 2022-01-10  169.080002  172.500000  ...  172.190002  172.190002  106765600
1769 2022-01-11  172.320007  175.179993  ...  175.080002  175.080002   76015600

[1770 rows x 7 columns]

In [ ]:
data2 = yf.download('GOOG',START,CURRENT)
data2.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data2

           Date         Open         High  ...        Close    Adj Close   Volume
0    2015-01-02   527.561584   529.815369  ...   523.373108   523.373108  1447563
1    2015-01-05   521.827332   522.894409  ...   512.463013   512.463013  2059840
2    2015-01-06   513.589966   514.761719  ...   500.585632   500.585632  2899940
3    2015-01-07   505.611847   505.855164  ...   499.727997   499.727997  2065054
4    2015-01-08   496.626526   502.101471  ...   501.303680   501.303680  3353582
...         ...          ...          ...  ...          ...          ...      ...
1765 2022-01-05  2883.620117  2885.959961  ...  2753.070068  2753.070068  2482100
1766 2022-01-06  2749.949951  2793.719971  ...  2751.020020  2751.020020  1452500
1767 2022-01-07  2758.100098  2765.094971  ...  2740.090088  2740.090088   970100
1768 2022-01-10  2701.979980  2772.800049  ...  2771.479980  2771.479980  1704800
1769 2022-01-11  2763.610107  2806.590088  ...  2800.350098  2800.350098  1174100

[1770 rows x 7 columns]

In [ ]:
data3 = yf.download('MSFT',START,CURRENT)
data3.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data3

           Date        Open        High  ...       Close   Adj Close    Volume
0    2015-01-02   46.660000   47.419998  ...   46.759998   41.193829  27913900
1    2015-01-05   46.369999   46.730000  ...   46.330002   40.815029  39673900
2    2015-01-06   46.380001   46.750000  ...   45.650002   40.215969  36447900
3    2015-01-07   45.980000   46.459999  ...   46.230000   40.726929  29114100
4    2015-01-08   46.750000   47.750000  ...   47.590000   41.925037  29645200
...         ...         ...         ...  ...         ...         ...       ...
1765 2022-01-05  325.859985  326.070007  ...  316.380005  316.380005  40054300
1766 2022-01-06  313.149994  318.700012  ...  313.880005  313.880005  39646100
1767 2022-01-07  314.149994  316.500000  ...  314.040009  314.040009  32674000
1768 2022-01-10  309.489990  314.720001  ...  314.269989  314.269989  44289500
1769 2022-01-11  313.380005  316.609985  ...  314.980011  314.980011  29364200

[1770 rows x 7 columns]

In [ ]:
data4 = yf.download('GME',START,CURRENT)
data4.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data4

           Date        Open        High  ...       Close   Adj Close    Volume
0    2015-01-02   34.060001   34.160000  ...   33.799999   25.155832   1612700
1    2015-01-05   33.520000   34.880001  ...   34.720001   25.840546   4934900
2    2015-01-06   35.169998   36.029999  ...   33.689999   25.073967   4885100
3    2015-01-07   34.290001   34.680000  ...   33.299999   24.783705   2558300
4    2015-01-08   33.599998   34.169998  ...   33.689999   25.073967   4547400
...         ...         ...         ...  ...         ...         ...       ...
1765 2022-01-05  148.389999  148.850006  ...  129.369995  129.369995   3396400
1766 2022-01-06  132.839996  137.699997  ...  131.029999  131.029999   6051500
1767 2022-01-07  159.770004  160.309998  ...  140.619995  140.619995  12117000
1768 2022-01-10  134.990005  135.690002  ...  131.149994  131.149994   5512000
1769 2022-01-11  130.100006  136.800003  ...  130.300003  130.300003   2578300

[1770 rows x 7 columns]

In [ ]:
data5 = yf.download('AMZN',START,CURRENT)
data5.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data5

           Date         Open         High  ...        Close    Adj Close   Volume
0    2015-01-02   312.579987   314.750000  ...   308.519989   308.519989  2783200
1    2015-01-05   307.010010   308.380005  ...   302.190002   302.190002  2774200
2    2015-01-06   302.239990   303.000000  ...   295.290009   295.290009  3519000
3    2015-01-07   297.500000   301.279999  ...   298.420013   298.420013  2640300
4    2015-01-08   300.320007   303.140015  ...   300.459991   300.459991  3088400
...         ...          ...          ...  ...          ...          ...      ...
1765 2022-01-05  3337.659912  3342.530029  ...  3287.139893  3287.139893  3215100
1766 2022-01-06  3269.010010  3296.000000  ...  3265.080078  3265.080078  2597900
1767 2022-01-07  3276.780029  3304.870117  ...  3251.080078  3251.080078  2329300
1768 2022-01-10  3211.709961  3233.229980  ...  3229.719971  3229.719971  4389900
1769 2022-01-11  3230.000000  3327.000000  ...  3307.239990  3307.239990  3131500

[1770 rows x 7 columns]

##APPLE

In [ ]:
aapl = data1[['Open','High','Low','Close','Adj Close']]

In [ ]:
aapl

            Open        High         Low       Close   Adj Close
0      27.847500   27.860001   26.837500   27.332500   24.745996
1      27.072500   27.162500   26.352501   26.562500   24.048857
2      26.635000   26.857500   26.157499   26.565001   24.051126
3      26.799999   27.049999   26.674999   26.937500   24.388380
4      27.307501   28.037500   27.174999   27.972500   25.325434
...          ...         ...         ...         ...         ...
1765  179.610001  180.169998  174.639999  174.919998  174.919998
1766  172.699997  175.300003  171.639999  172.000000  172.000000
1767  172.889999  174.139999  171.029999  172.169998  172.169998
1768  169.080002  172.500000  168.169998  172.190002  172.190002
1769  172.320007  175.179993  170.820007  175.080002  175.080002

[1770 rows x 5 columns]

In [ ]:
dataset_train = aapl

In [ ]:
dataset_train = dataset_train.astype(float)

In [ ]:
# Using multiple features (predictors)
training_set_aapl = dataset_train.values

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
training_set_scaled_aapl = sc.fit_transform(training_set_aapl)

sc_predict = StandardScaler()
sc_predict.fit_transform(training_set_aapl[:,0:1])

array([[-0.83122386],
       [-0.8501977 ],
       [-0.86090875],
       ...,
       [ 2.7197636 ],
       [ 2.62648575],
       [ 2.70580883]])

In [ ]:
X_train = []
y_train = []

n_future = 60   # Number of days we want top predict into the future
n_past = 90  # Number of past days we want to use to predict the future

for i in range(n_past, len(training_set_scaled_aapl) - n_future +1):
    X_train.append(training_set_scaled_aapl[i - n_past:i, 0:training_set_aapl.shape[1] - 1])
    y_train.append(training_set_scaled_aapl[i + n_future - 1:i + n_future, 0])

X_train, y_train = np.array(X_train), np.array(y_train)

print('X_train shape == {}.'.format(X_train.shape))
print('y_train shape == {}.'.format(y_train.shape))

X_train shape == (1621, 90, 4).
y_train shape == (1621, 1).

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from tensorflow.keras.optimizers import Adam

In [ ]:
# Initializing the Neural Network based on LSTM
regressor_aapl = Sequential()

# Adding 1st LSTM layer
regressor_aapl.add(LSTM(units=128, return_sequences=True, input_shape=(n_past,dataset_train.shape[1]-1)))

# Adding 2nd LSTM layer
regressor_aapl.add(LSTM(units=64, return_sequences=False))

# Adding 3rd layer
regressor_aapl.add(Dense(units=25))

# Output layer
regressor_aapl.add(Dense(units=1,activation='linear'))

# Compiling the Neural Network
regressor_aapl.compile(optimizer = Adam(learning_rate=0.01), loss='mean_squared_error')

In [ ]:
regressor_aapl.fit(X_train, y_train, shuffle = True,epochs = 100,validation_split=0.2, verbose=1, batch_size = 64)

In [ ]:
regressor_aapl.save('aapl_lstm.h5')

##GOOGLE

In [ ]:
goog = data2[['Open','High','Low','Close','Adj Close']]

In [ ]:
dataset_train = goog

In [ ]:
dataset_train = dataset_train.astype(float)

In [ ]:
# Using multiple features (predictors)
training_set_goog = dataset_train.values

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
training_set_scaled_goog = sc.fit_transform(training_set_goog)

sc_predict = StandardScaler()
sc_predict.fit_transform(training_set_goog[:,0:1])

array([[-1.13127411],
       [-1.14052452],
       [-1.15381291],
       ...,
       [ 2.46699528],
       [ 2.3764632 ],
       [ 2.47588394]])

In [ ]:
X_train = []
y_train = []

n_future = 60   # Number of days we want top predict into the future
n_past = 90  # Number of past days we want to use to predict the future

for i in range(n_past, len(training_set_scaled_goog) - n_future +1):
    X_train.append(training_set_scaled_goog[i - n_past:i, 0:training_set_scaled_goog.shape[1] - 1])
    y_train.append(training_set_scaled_goog[i + n_future - 1:i + n_future, 0])

X_train, y_train = np.array(X_train), np.array(y_train)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(1621, 90, 4)
(1621, 1)

In [ ]:
# Initializing the Neural Network based on LSTM
regressor_goog = Sequential()

# Adding 1st LSTM layer
regressor_goog.add(LSTM(units=128, return_sequences=True, input_shape=(n_past,dataset_train.shape[1]-1)))

# Adding 2nd LSTM layer
regressor_goog.add(LSTM(units=64, return_sequences=False))

# Adding 3rd layer
regressor_goog.add(Dense(units=25))

# Output layer
regressor_goog.add(Dense(units=1,activation='linear'))

# Compiling the Neural Network
regressor_goog.compile(optimizer = Adam(learning_rate=0.01), loss='mean_squared_error')

In [ ]:
regressor_goog.fit(X_train, y_train, shuffle = True,epochs = 100,validation_split=0.2, verbose=1, batch_size = 32)

Epoch 1/100
41/41 [==============================] - 6s 71ms/step - loss: 0.1485 - val_loss: 2.4765
Epoch 2/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0497 - val_loss: 0.9458
Epoch 3/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0408 - val_loss: 2.6677
Epoch 4/100
41/41 [==============================] - 2s 49ms/step - loss: 0.1117 - val_loss: 2.9241
Epoch 5/100
41/41 [==============================] - 2s 49ms/step - loss: 0.1241 - val_loss: 3.6213
Epoch 6/100
41/41 [==============================] - 2s 49ms/step - loss: 0.1345 - val_loss: 2.8110
Epoch 7/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0606 - val_loss: 2.3678
Epoch 8/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0226 - val_loss: 2.2598
Epoch 9/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0261 - val_loss: 2.1368
Epoch 10/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0229 - val_loss: 2.3091
Epoch 11/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0209 - val_loss: 2.1223
Epoch 12/100
41/41 [==============================] - 2s 48ms/step - loss: 0.0220 - val_loss: 2.2260
Epoch 13/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0226 - val_loss: 2.4884
Epoch 14/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0218 - val_loss: 2.2697
Epoch 15/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0217 - val_loss: 2.2921
Epoch 16/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0182 - val_loss: 2.2235
Epoch 17/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0177 - val_loss: 2.2527
Epoch 18/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0178 - val_loss: 2.1177
Epoch 19/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0164 - val_loss: 2.1732
Epoch 20/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0162 - val_loss: 2.0566
Epoch 21/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0160 - val_loss: 2.1254
Epoch 22/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0159 - val_loss: 2.1384
Epoch 23/100
41/41 [==============================] - 2s 50ms/step - loss: 0.0163 - val_loss: 2.1605
Epoch 24/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0157 - val_loss: 2.1186
Epoch 25/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0155 - val_loss: 2.0866
Epoch 26/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0158 - val_loss: 2.0590
Epoch 27/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0158 - val_loss: 2.1839
Epoch 28/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0168 - val_loss: 2.0372
Epoch 29/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0158 - val_loss: 2.1653
Epoch 30/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0158 - val_loss: 1.8758
Epoch 31/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0174 - val_loss: 2.0100
Epoch 32/100
41/41 [==============================] - 2s 50ms/step - loss: 0.0161 - val_loss: 2.1119
Epoch 33/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0152 - val_loss: 2.1481
Epoch 34/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0153 - val_loss: 2.0111
Epoch 35/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0161 - val_loss: 2.1793
Epoch 36/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 1.9964
Epoch 37/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0151 - val_loss: 2.0470
Epoch 38/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0156 - val_loss: 1.9581
Epoch 39/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 2.2088
Epoch 40/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0152 - val_loss: 2.0104
Epoch 41/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 2.2228
Epoch 42/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0153 - val_loss: 2.1897
Epoch 43/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 2.0531
Epoch 44/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0153 - val_loss: 2.2924
Epoch 45/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.3204
Epoch 46/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0148 - val_loss: 2.0605
Epoch 47/100
41/41 [==============================] - 2s 48ms/step - loss: 0.0151 - val_loss: 2.3418
Epoch 48/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0152 - val_loss: 2.1351
Epoch 49/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0147 - val_loss: 2.1921
Epoch 50/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0148 - val_loss: 2.0609
Epoch 51/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 2.0816
Epoch 52/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0150 - val_loss: 2.1931
Epoch 53/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0146 - val_loss: 2.1459
Epoch 54/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0151 - val_loss: 2.0943
Epoch 55/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0144 - val_loss: 2.1590
Epoch 56/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0162 - val_loss: 2.1155
Epoch 57/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0151 - val_loss: 2.1766
Epoch 58/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0144 - val_loss: 2.1605
Epoch 59/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0143 - val_loss: 2.2182
Epoch 60/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.1286
Epoch 61/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0148 - val_loss: 2.1840
Epoch 62/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0143 - val_loss: 2.1161
Epoch 63/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0160 - val_loss: 2.2456
Epoch 64/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0153 - val_loss: 2.1856
Epoch 65/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.2227
Epoch 66/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0143 - val_loss: 2.1317
Epoch 67/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.2112
Epoch 68/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0139 - val_loss: 2.1593
Epoch 69/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0142 - val_loss: 2.1486
Epoch 70/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0149 - val_loss: 2.1761
Epoch 71/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0151 - val_loss: 2.0749
Epoch 72/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0154 - val_loss: 2.1514
Epoch 73/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0151 - val_loss: 2.1858
Epoch 74/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0156 - val_loss: 2.1041
Epoch 75/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0143 - val_loss: 2.1723
Epoch 76/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.2258
Epoch 77/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0153 - val_loss: 2.0314
Epoch 78/100
41/41 [==============================] - 2s 48ms/step - loss: 0.0144 - val_loss: 2.1730
Epoch 79/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0146 - val_loss: 2.2887
Epoch 80/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0141 - val_loss: 2.0879
Epoch 81/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0140 - val_loss: 2.2390
Epoch 82/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0144 - val_loss: 2.1642
Epoch 83/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0144 - val_loss: 2.1766
Epoch 84/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0144 - val_loss: 2.1205
Epoch 85/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0146 - val_loss: 2.1394
Epoch 86/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.0678
Epoch 87/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0143 - val_loss: 2.3094
Epoch 88/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0149 - val_loss: 2.2122
Epoch 89/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0141 - val_loss: 2.1520
Epoch 90/100
41/41 [==============================] - 2s 50ms/step - loss: 0.0142 - val_loss: 2.3689
Epoch 91/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0157 - val_loss: 2.3062
Epoch 92/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0155 - val_loss: 2.2584
Epoch 93/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0140 - val_loss: 2.2022
Epoch 94/100
41/41 [==============================] - 2s 48ms/step - loss: 0.0140 - val_loss: 2.1957
Epoch 95/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0139 - val_loss: 2.2770
Epoch 96/100
41/41 [==============================] - 2s 53ms/step - loss: 0.0146 - val_loss: 2.3243
Epoch 97/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0136 - val_loss: 2.1217
Epoch 98/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0138 - val_loss: 2.1420
Epoch 99/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0146 - val_loss: 2.3362
Epoch 100/100
41/41 [==============================] - 2s 49ms/step - loss: 0.0145 - val_loss: 2.1616

In [ ]:
regressor_goog.save('goog_lstm.h5')